/* BODY BACKGROUND */ /* BODY BACKGROUND */ /* BODY BACKGROUND */ /* BODY BACKGROUND */ /* BODY BACKGROUND */
			body,
			.layout-content.status.status-api .section .example-container .example-opener .color-secondary,
			.grouped-items-selector,
			.layout-content.status.status-full-history .history-nav a.current,
			div[id^="subscribe-modal"] .modal-footer,
			div[id^="subscribe-modal"],
			#uptime-tooltip .tooltip-box {
				background-color: #ffffff;
			}

			#uptime-tooltip .pointer-container .pointer-smaller {
				border-bottom-color: #ffffff;
			}

			/* PRIMARY FONT COLOR */ /* PRIMARY FONT COLOR */ /* PRIMARY FONT COLOR */ /* PRIMARY FONT COLOR */
			body.status,
			.color-primary,
			.color-primary:hover,
			.layout-content.status-index .status-day .update-title.impact-none a,
			.layout-content.status-index .status-day .update-title.impact-none a:hover,
			.layout-content.status-index .timeframes-container .timeframe.active,
			.layout-content.status-full-history .month .incident-container .impact-none,
			.layout-content.status.status-index .incidents-list .incident-title.impact-none a,
			.incident-history .impact-none,
			.layout-content.status .grouped-items-selector.inline .grouped-item.active,
			.layout-content.status.status-full-history .history-nav a.current,
			.layout-content.status.status-full-history .history-nav a:not(.current):hover,
			div[id^="subscribe-modal"] .modal-header .close,
			.grouped-item-label,
			#uptime-tooltip .tooltip-box .tooltip-content .related-events .related-event a.related-event-link {
				color: #456;
			}

			.layout-content.status.status-index .components-statuses .component-container .name {
				color: #456;
				color: rgba(68, 85, 102, 0.8);
			}

			/* SECONDARY FONT COLOR */ /* SECONDARY FONT COLOR */ /* SECONDARY FONT COLOR */ /* SECONDARY FONT COLOR */
			small,
			.layout-content.status .table-row .date,
			.color-secondary,
			.layout-content.status .grouped-items-selector.inline .grouped-item,
			.layout-content.status.status-full-history .history-footer .pagination a.disabled,
			.layout-content.status.status-full-history .history-nav a,
			#uptime-tooltip .tooltip-box .tooltip-content .related-events #related-event-header {
				color: #7b8084;
			}

			/* BORDER COLOR */ /* BORDER COLOR */ /* BORDER COLOR */ /* BORDER COLOR */ /* BORDER COLOR */ /* BORDER COLOR */
			body.status .layout-content.status .border-color,
			hr,
			.tooltip-base,
			.markdown-display table,
			div[id^="subscribe-modal"],
			#uptime-tooltip .tooltip-box {
				border-color: #e0e0e0;
			}

			div[id^="subscribe-modal"] .modal-footer,
			.markdown-display table td {
				border-top-color: #e0e0e0;
			}

			div[id^="subscribe-modal"] .modal-header .close:hover {
				color: #e0e0e0;
			}

			.markdown-display table td + td,
			.markdown-display table th + th {
				border-left-color: #e0e0e0;
			}

			div[id^="subscribe-modal"] .modal-header,
			#uptime-tooltip .pointer-container .pointer-larger {
				border-bottom-color: #e0e0e0;
			}

			#uptime-tooltip .tooltip-box .outage-field {
				background-color: rgba(224, 224, 224, 0.31);

				border-color: rgba(224, 224, 224, 0);
			}

			/* CSS REDS */ /* CSS REDS */ /* CSS REDS */ /* CSS REDS */ /* CSS REDS */ /* CSS REDS */ /* CSS REDS */
			.layout-content.status.status-index .status-day .update-title.impact-critical a,
			.layout-content.status.status-index .status-day .update-title.impact-critical a:hover,
			.layout-content.status.status-index .page-status.status-critical,
			.layout-content.status.status-index .unresolved-incident.impact-critical .incident-title,
			.flat-button.background-red {
				background-color: #e74c3c;
			}

			.layout-content.status-index .components-statuses .component-container.status-red:after,
			.layout-content.status-full-history .month .incident-container .impact-critical,
			.layout-content.status-incident .incident-name.impact-critical,
			.layout-content.status.status-index .incidents-list .incident-title.impact-critical a,
			.status-red .icon-indicator,
			.incident-history .impact-critical,
			.components-container .component-inner-container.status-red .component-status,
			.components-container .component-inner-container.status-red .icon-indicator {
				color: #e74c3c;
			}

			.layout-content.status.status-index .unresolved-incident.impact-critical .updates {
				border-color: #e74c3c;
			}

			/* CSS ORANGES */ /* CSS ORANGES */ /* CSS ORANGES */ /* CSS ORANGES */ /* CSS ORANGES */ /* CSS ORANGES */
			.layout-content.status.status-index .status-day .update-title.impact-major a,
			.layout-content.status.status-index .status-day .update-title.impact-major a:hover,
			.layout-content.status.status-index .page-status.status-major,
			.layout-content.status.status-index .unresolved-incident.impact-major .incident-title {
				background-color: #e67e22;
			}

			.layout-content.status-index .components-statuses .component-container.status-orange:after,
			.layout-content.status-full-history .month .incident-container .impact-major,
			.layout-content.status-incident .incident-name.impact-major,
			.layout-content.status.status-index .incidents-list .incident-title.impact-major a,
			.status-orange .icon-indicator,
			.incident-history .impact-major,
			.components-container .component-inner-container.status-orange .component-status,
			.components-container .component-inner-container.status-orange .icon-indicator {
				color: #e67e22;
			}

			.layout-content.status.status-index .unresolved-incident.impact-major .updates {
				border-color: #e67e22;
			}

			/* CSS YELLOWS */ /* CSS YELLOWS */ /* CSS YELLOWS */ /* CSS YELLOWS */ /* CSS YELLOWS */ /* CSS YELLOWS */
			.layout-content.status.status-index .status-day .update-title.impact-minor a,
			.layout-content.status.status-index .status-day .update-title.impact-minor a:hover,
			.layout-content.status.status-index .page-status.status-minor,
			.layout-content.status.status-index .unresolved-incident.impact-minor .incident-title,
			.layout-content.status.status-index .scheduled-incidents-container .tab {
				background-color: #f1c40f;
			}

			.layout-content.status-index .components-statuses .component-container.status-yellow:after,
			.layout-content.status-full-history .month .incident-container .impact-minor,
			.layout-content.status-incident .incident-name.impact-minor,
			.layout-content.status.status-index .incidents-list .incident-title.impact-minor a,
			.status-yellow .icon-indicator,
			.incident-history .impact-minor,
			.components-container .component-inner-container.status-yellow .component-status,
			.components-container .component-inner-container.status-yellow .icon-indicator,
			.layout-content.status.manage-subscriptions .confirmation-infobox .fa {
				color: #f1c40f;
			}

			.layout-content.status.status-index .unresolved-incident.impact-minor .updates,
			.layout-content.status.status-index .scheduled-incidents-container {
				border-color: #f1c40f;
			}

			/* CSS BLUES */ /* CSS BLUES */ /* CSS BLUES */ /* CSS BLUES */ /* CSS BLUES */ /* CSS BLUES */
			.layout-content.status.status-index .status-day .update-title.impact-maintenance a,
			.layout-content.status.status-index .status-day .update-title.impact-maintenance a:hover,
			.layout-content.status.status-index .page-status.status-maintenance,
			.layout-content.status.status-index .unresolved-incident.impact-maintenance .incident-title,
			.layout-content.status.status-index .scheduled-incidents-container .tab {
				background-color: #3498db;
			}

			.layout-content.status-index .components-statuses .component-container.status-blue:after,
			.layout-content.status-full-history .month .incident-container .impact-maintenance,
			.layout-content.status-incident .incident-name.impact-maintenance,
			.layout-content.status.status-index .incidents-list .incident-title.impact-maintenance a,
			.status-blue .icon-indicator,
			.incident-history .impact-maintenance,
			.components-container .component-inner-container.status-blue .component-status,
			.components-container .component-inner-container.status-blue .icon-indicator {
				color: #3498db;
			}

			.layout-content.status.status-index .unresolved-incident.impact-maintenance .updates,
			.layout-content.status.status-index .scheduled-incidents-container {
				border-color: #3498db;
			}

			/* CSS GREENS */ /* CSS GREENS */ /* CSS GREENS */ /* CSS GREENS */ /* CSS GREENS */ /* CSS GREENS */ /* CSS GREENS */
			.layout-content.status.status-index .page-status.status-none {
				background-color: #2fcc66;
			}
			.layout-content.status-index .components-statuses .component-container.status-green:after,
			.status-green .icon-indicator,
			.components-container .component-inner-container.status-green .component-status,
			.components-container .component-inner-container.status-green .icon-indicator {
				color: #2fcc66;
			}

			/* CSS LINK COLOR */ /* CSS LINK COLOR */ /* CSS LINK COLOR */ /* CSS LINK COLOR */ /* CSS LINK COLOR */ /* CSS LINK COLOR */
			a,
			a:hover,
			.layout-content.status-index .page-footer span a:hover,
			.layout-content.status-index .timeframes-container .timeframe:not(.active):hover,
			.layout-content.status-incident .subheader a:hover {
				color: #123;
			}

			.flat-button,
			.masthead .updates-dropdown-container .show-updates-dropdown,
			.layout-content.status-full-history .show-filter.open {
				background-color: #123;
			}

			/* CUSTOM COLOR OVERRIDES FOR UPTIME SHOWCASE */
			.components-section .components-uptime-link {
				color: #7b8084;
			}

			.layout-content.status .shared-partial.uptime-90-days-wrapper .legend .legend-item {
				color: #7b8084;
				opacity: 0.8;
			}
			.layout-content.status .shared-partial.uptime-90-days-wrapper .legend .legend-item.light {
				color: #7b8084;
				opacity: 0.5;
			}
			.layout-content.status .shared-partial.uptime-90-days-wrapper .legend .spacer {
				background: #7b8084;
				opacity: 0.3;
			}
